# MongoDB

# setup

In [ ]:
# mkdir -p /data/db
# sudo chown -R `id -un` /data/db
# run bin/mongod
# run bin/mongo

In [1]:
import pandas as pd

In [2]:
import pymongo

In [3]:
# use client = pymongo.MongoClient('mongodb://{user}:{password}@{host}:{port}/')
# by default mongodb is run locally without authentication enabled 
# can download a web gui, such as "compass"
client = pymongo.MongoClient("mongodb://localhost:27017/")

In [4]:
client.server_info()

{'version': '4.2.7',
 'gitVersion': '51d9fe12b5d19720e72dcd7db0f2f17dd9a19212',
 'modules': [],
 'allocator': 'system',
 'javascriptEngine': 'mozjs',
 'sysInfo': 'deprecated',
 'versionArray': [4, 2, 7, 0],
 'openssl': {'running': 'Apple Secure Transport'},
 'buildEnvironment': {'distmod': '',
  'distarch': 'x86_64',
  'cc': '/Applications/Xcode10.2.0.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang: Apple LLVM version 10.0.1 (clang-1001.0.46.3)',
  'ccflags': '-isysroot /Applications/Xcode10.2.0.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.14.sdk -mmacosx-version-min=10.12 -target darwin16.0.0 -arch x86_64 -fno-omit-frame-pointer -fno-strict-aliasing -ggdb -pthread -Wall -Wsign-compare -Wno-unknown-pragmas -Winvalid-pch -Werror -O2 -Wno-unused-local-typedefs -Wno-unused-function -Wno-unused-private-field -Wno-deprecated-declarations -Wno-tautological-constant-out-of-range-compare -Wno-tautological-constant-compare -Wno-tautological-unsigned-zero-compare -Wno-tautological-unsigned-enum-zero-compare -Wno-unused-const-variable -Wno-missing-braces -Wno-inconsistent-missing-override -Wno-potentially-evaluated-expression -Wno-unused-lambda-capture -Wno-exceptions -Wunguarded-availability -fstack-protector-strong -fno-builtin-memcmp',
  'cxx': '/Applications/Xcode10.2.0.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang++: Apple LLVM version 10.0.1 (clang-1001.0.46.3)',
  'cxxflags': '-Woverloaded-virtual -Werror=unused-result -Wpessimizing-move -Wredundant-move -Wno-undefined-var-template -Wno-instantiation-after-specialization -fsized-deallocation -stdlib=libc++ -std=c++17',
  'linkflags': '-Wl,-syslibroot,/Applications/Xcode10.2.0.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.14.sdk -mmacosx-version-min=10.12 -target darwin16.0.0 -arch x86_64 -Wl,-bind_at_load -Wl,-fatal_warnings -fstack-protector-strong -stdlib=libc++',
  'target_arch': 'x86_64',
  'target_os': 'macOS'},
 'bits': 64,
 'debug': False,
 'maxBsonObjectSize': 16777216,
 'storageEngines': ['biggie', 'devnull', 'ephemeralForTest', 'wiredTiger'],
 'ok': 1.0}

In [5]:
client.list_database_names()

['admin', 'config', 'local']

# create databases and collections

In [6]:
db = client.test_database

In [7]:
client.list_database_names()

['admin', 'config', 'local']

In [8]:
test_collection = db.test_collection

In [9]:
db.list_collection_names()

[]

In [10]:
# note: only creates new databases and collections after inserting first document

In [11]:
test_document = {"name" : "dave",  "score" : 100,  "skills" : ["python", "c++", "java"]}

In [12]:
insert_test_document = test_collection.insert_one(test_document)

In [13]:
insert_test_document.inserted_id

ObjectId('5ee11e6d1d94031e4ea138f6')

In [14]:
client.list_database_names()

['admin', 'config', 'local', 'test_database']

In [15]:
db.list_collection_names()

['test_collection']

In [16]:
test_collection.count_documents({})

1

# inserting documents

In [17]:
test_multiple_documents = [
    {"_id" : 102, 'name': 'jeff', 'score': 73, 'skills': ["javascript"]},
    {"_id" : 103, 'name': 'jeff', 'score': 42, 'skills': ["c++"]},
    {"_id" : 104, 'name': 'drew', 'score': 32, 'skills': ["matlab","aspen"]},
    {"_id" : 105, 'name': 'drew', 'score': 15, 'skills': ["cold fusion"]},
    {"_id" : 106, 'name': 'dave', 'score': 89, 'skills': ["office"]},
    {"_id" : 107, 'name': 'dave', 'score': 100, 'skills': ["linux"]},
]

In [18]:
insert_multiple_documents = test_collection.insert_many(test_multiple_documents)

In [19]:
insert_multiple_documents.inserted_ids

[102, 103, 104, 105, 106, 107]

In [20]:
test_collection.count_documents({})

7

# basic query

In [21]:
query = {'name': 'drew'}
for each in test_collection.find(query): print(each)

{'_id': 104, 'name': 'drew', 'score': 32, 'skills': ['matlab', 'aspen']}
{'_id': 105, 'name': 'drew', 'score': 15, 'skills': ['cold fusion']}

In [22]:
query = {'name': 'drew'}
list(test_collection.find(query))

[{'_id': 104, 'name': 'drew', 'score': 32, 'skills': ['matlab', 'aspen']},
 {'_id': 105, 'name': 'drew', 'score': 15, 'skills': ['cold fusion']}]

In [23]:
query = {'name': 'dave'}
test_collection.find_one(query)

{'_id': ObjectId('5ee11e6d1d94031e4ea138f6'),
 'name': 'dave',
 'score': 100,
 'skills': ['python', 'c++', 'java']}

In [24]:
query = {'_id': 102}
test_collection.find_one(query)

{'_id': 102, 'name': 'jeff', 'score': 73, 'skills': ['javascript']}

## update documents

In [25]:
query = {'name': 'dave'}

In [26]:
updates_document = { "$set" : {"score" : 99, "skills" : ["machine learning","data science","AI"]}}

In [27]:
test_update_document = test_collection.update_one(query, updates_document, upsert=False)

In [28]:
test_update_document.matched_count

1

In [29]:
query = {'name': 'dave'}
test_collection.find_one(query)

{'_id': ObjectId('5ee11e6d1d94031e4ea138f6'),
 'name': 'dave',
 'score': 99,
 'skills': ['machine learning', 'data science', 'AI']}

In [30]:
query = {'name': 'drew'}
updates_document = {'$set': {'score': 58}}
test_many_update_document = test_collection.update_many(query, updates_document)

In [31]:
test_many_update_document.matched_count

2

In [32]:
query = {'name': 'drew'}
list(test_collection.find(query))

[{'_id': 104, 'name': 'drew', 'score': 58, 'skills': ['matlab', 'aspen']},
 {'_id': 105, 'name': 'drew', 'score': 58, 'skills': ['cold fusion']}]

# complex queries

In [33]:
# regex 
query = {'name': {'$regex': '^d'}}
list(test_collection.find(query))

[{'_id': ObjectId('5ee11e6d1d94031e4ea138f6'),
  'name': 'dave',
  'score': 99,
  'skills': ['machine learning', 'data science', 'AI']},
 {'_id': 104, 'name': 'drew', 'score': 58, 'skills': ['matlab', 'aspen']},
 {'_id': 105, 'name': 'drew', 'score': 58, 'skills': ['cold fusion']},
 {'_id': 106, 'name': 'dave', 'score': 89, 'skills': ['office']},
 {'_id': 107, 'name': 'dave', 'score': 100, 'skills': ['linux']}]

In [34]:
# exclude fields 
query = {'name': {'$regex': '^d'}}
exclude = {"_id" : 0, "skills" : 0}
list(test_collection.find(query, exclude))

[{'name': 'dave', 'score': 99},
 {'name': 'drew', 'score': 58},
 {'name': 'drew', 'score': 58},
 {'name': 'dave', 'score': 89},
 {'name': 'dave', 'score': 100}]

In [35]:
# limit
query = {'name': {'$regex': '^d'}}
list(test_collection.find(query).limit(2))

[{'_id': ObjectId('5ee11e6d1d94031e4ea138f6'),
  'name': 'dave',
  'score': 99,
  'skills': ['machine learning', 'data science', 'AI']},
 {'_id': 104, 'name': 'drew', 'score': 58, 'skills': ['matlab', 'aspen']}]

In [36]:
# sort (1 vs. -1 in second argument for ascending vs. decending)
query = {'name': {'$regex': '^d'}}
list(test_collection.find(query).sort("score", -1))

[{'_id': 107, 'name': 'dave', 'score': 100, 'skills': ['linux']},
 {'_id': ObjectId('5ee11e6d1d94031e4ea138f6'),
  'name': 'dave',
  'score': 99,
  'skills': ['machine learning', 'data science', 'AI']},
 {'_id': 106, 'name': 'dave', 'score': 89, 'skills': ['office']},
 {'_id': 104, 'name': 'drew', 'score': 58, 'skills': ['matlab', 'aspen']},
 {'_id': 105, 'name': 'drew', 'score': 58, 'skills': ['cold fusion']}]

In [37]:
# inequalities, "$gt" = greater than, "$lt" = less than, gte, lte
exclude = {"_id" : 0, "skills" : 0}
query =  {'name': {'$regex': '^d'}, 
          "score": { "$gt": 60 } }
list(test_collection.find(query, exclude))

[{'name': 'dave', 'score': 99},
 {'name': 'dave', 'score': 89},
 {'name': 'dave', 'score': 100}]

In [38]:
# not euqual = "$ne"
exclude = {"_id" : 0, "skills" : 0}
query =  {'name': {'$regex': '^d'}, 
          "score": { "$ne": 99 } }
list(test_collection.find(query, exclude))

[{'name': 'drew', 'score': 58},
 {'name': 'drew', 'score': 58},
 {'name': 'dave', 'score': 89},
 {'name': 'dave', 'score': 100}]

In [39]:
# and (implied by default) (same as above)
exclude = {"_id" : 0, "skills" : 0}
query =  {"$and" : [ {"name": {'$regex': '^d'}}, 
                     {"score": { "$ne": 99 }}]}
list(test_collection.find(query, exclude))

[{'name': 'drew', 'score': 58},
 {'name': 'drew', 'score': 58},
 {'name': 'dave', 'score': 89},
 {'name': 'dave', 'score': 100}]

In [40]:
# or 
exclude = {"_id" : 0, "skills" : 0}
query =  {"$or" : [ {"name": {'$regex': '^d'}}, 
                    {"name": {'$regex': '^j' }}]}
list(test_collection.find(query, exclude))

[{'name': 'dave', 'score': 99},
 {'name': 'jeff', 'score': 73},
 {'name': 'jeff', 'score': 42},
 {'name': 'drew', 'score': 58},
 {'name': 'drew', 'score': 58},
 {'name': 'dave', 'score': 89},
 {'name': 'dave', 'score': 100}]

In [41]:
# in
exclude = {"_id" : 0, "skills" : 0}
query = { "name" : { "$in" : ["jeff", "drew"]}}
list(test_collection.find(query, exclude))

[{'name': 'jeff', 'score': 73},
 {'name': 'jeff', 'score': 42},
 {'name': 'drew', 'score': 58},
 {'name': 'drew', 'score': 58}]

In [42]:
# in (list)
exclude = {"_id" : 0}
query = { "skills" : { "$in" : ["data science"]}}
list(test_collection.find(query, exclude))

[{'name': 'dave',
  'score': 99,
  'skills': ['machine learning', 'data science', 'AI']}]

# grouping and aggregation functions

In [43]:
pipeline = [
    {
        "$group": { 
            "_id": "$name", 
            "count": { "$sum": 1 }
        }
    }
]
list(test_collection.aggregate(pipeline))

[{'_id': 'jeff', 'count': 2},
 {'_id': 'drew', 'count': 2},
 {'_id': 'dave', 'count': 3}]

In [44]:
pipeline = [
    {
        "$group": { 
            "_id": "$name", 
            "score_sum" : {"$sum" : "$score"},
            "score_min" : {"$min" : "$score"},
            "score_max" : {"$max" : "$score"},
            "score_avg" : {"$avg" : "$score"},
            "count": { "$sum": 1 }
        }
    }
]
list(test_collection.aggregate(pipeline))

[{'_id': 'dave',
  'score_sum': 288,
  'score_min': 89,
  'score_max': 100,
  'score_avg': 96.0,
  'count': 3},
 {'_id': 'drew',
  'score_sum': 116,
  'score_min': 58,
  'score_max': 58,
  'score_avg': 58.0,
  'count': 2},
 {'_id': 'jeff',
  'score_sum': 115,
  'score_min': 42,
  'score_max': 73,
  'score_avg': 57.5,
  'count': 2}]

In [45]:
pd.DataFrame(list(test_collection.aggregate(pipeline)))

    _id  score_sum  score_min  score_max  score_avg  count
0  dave        288         89        100       96.0      3
1  drew        116         58         58       58.0      2
2  jeff        115         42         73       57.5      2

# delete documents

In [46]:
query = {'name': 'drew'}
for each in test_collection.find(query): print(each)

{'_id': 104, 'name': 'drew', 'score': 58, 'skills': ['matlab', 'aspen']}
{'_id': 105, 'name': 'drew', 'score': 58, 'skills': ['cold fusion']}

In [47]:
query = {'name': 'drew'}
test_delete_documents = test_collection.delete_many(query)

In [48]:
test_delete_documents.deleted_count

2

In [49]:
query = {'name': 'drew'}
for each in test_collection.find(query): print(each)

# delete collection

In [50]:
db.test_collection.drop()

# delete database

In [51]:
client.drop_database("test_database")

# other

In [52]:
# use .create_index() for faster querying, note: field must have unique entries