# Python dataclass

In [1]:
from dataclasses import dataclass

In [2]:
import numpy as np
import pandas as pd

In [16]:
@dataclass
class Example():
    x: int = 0
    y: int = 0
    z: pd.DataFrame = pd.DataFrame({'x':[x], 'y':[y]})
        
    def add_number(self, number):
        self.x = self.x + number
        self.y = self.y + number

In [17]:
example_1 = Example(3,4)
example_2 = Example(3,5)

In [18]:
example_1

Example(x=3, y=4, z=   x  y
0  0  0)

In [19]:
example_1.x

3

In [20]:
example_1.y

4

In [21]:
example_1.z

   x  y
0  0  0

In [22]:
print(example_1)

Example(x=3, y=4, z=   x  y
0  0  0)

In [23]:
example_1 == example_2

False

In [24]:
example_1.add_number(10)

In [25]:
example_1

Example(x=13, y=14, z=   x  y
0  0  0)